.help-page {
  font-family: Arial, sans-serif;
  max-width: 1280px;
  margin: auto;
  text-align: center;
  width: fit-content;
  display: flex;
  place-items: center;
  min-width: 320px;
}

.help-page h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.help-page a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.help-page a:hover {
  color: #535bf2;
}

.help-page button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.help-page button:focus,
.help-page button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
